<%= form_for(@menu_category) do |f| %>
  <% if @menu_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_category.errors.count, "error") %> prohibited this menu_category from being saved:</h2>

      <ul>
      <% @menu_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Menu Text</label>
      <div class="col-sm-10">
        <%= f.text_field :menu_text,:required => true, :class => "form-control", :placeholder=>"Last Name" %>
      </div>
    </div>
    </div>
  </div>  
  <br/>    
  <div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label"></label>
      <div class="col-sm-10 actions">
        <%= f.submit "Create Menu", :class=>"btn btn-success" %>
      </div>
    </div>
    </div>
  </div>

<% end %>
