

<div class="section">
	    	<div class="container">

	    		<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2>Sign Up</h2>
						<%= render partial: "layouts/flash_messages", flash: flash %>
					</div>
				</div>	
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<div class="basic-login">
							<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
							 <%= devise_error_messages! %>
								<div class="form-group">
		        				 	<label for="login-username"><i class="icon-user"></i> <b>Username or Email</b></label>
									<%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email", :required => true %>
								</div>
								<div class="form-group">
		        				 	<label for="login-password"><i class="icon-lock"></i> <b>Password</b></label>
									<%= f.password_field :password,:class => "form-control", :placeholder => "Password",:required => true %>
								</div>


								<div class="form-group">
		        				 	<label for="login-password"><i class="icon-lock"></i> <b>Password confirmation</b></label>
		        				 	<%= f.password_field :password_confirmation, autocomplete: "off",:class => "form-control", :placeholder => "Password confirmation", :required => true %>
								</div>

								<div class="form-group">
									
									<button type="submit" class="btn btn-blue">Sign up</button>
									
								</div>

							<% end %>
						</div>
						<div class="social-login">
						<div class="not-member">
							<p>Already a member? <a href="/users/sign_in">Login here</a></p>
						</div
					</div>
					</div>
					
				</div>
			</div>
		</div>

