<div class="section">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
        <%= render :partial => "layouts/admin_sidebar"%>
      <!-- End Sidebar -->
      
      <div class="col-sm-10 ">
      <%= render partial: "layouts/flash_messages", flash: flash %> 
        <div class="blog-post blog-single-post">
          <div class="single-post-title">
            <h3>New Orders List</h3>
          </div>
          
          <div class="single-post-content">
            <div class="bs-example">
                <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="dashboard_user">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Email</th>
                            <th>Amount</th>
                            <th>Oder Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      <%if @orders.blank?%>
                      No record to display
                      <% else %>
                      <% @orders.each do |order|%>
                        <tr>
                            <td><%= order.id %></td>
                            <td><%= order.email %></td>
                            <td><%= order.amount %></td>
                            <td><%= order.order_status %></td>
                            <td>
                            <button class="btn btn-link" data-toggle="modal" data-target=".bs-example-modal-sm" onclick="show_modal(<%= order.id %>)">change Order status</button>
                            <a href="/orders/<%= order.id %>">Order Detail</a>

                    </td>
                        </tr>
                        <%end%>
                        <% end %>
                    </tbody>
                </table>
            </div>
              <div class="modal fade bs-example-modal-sm" tabindex="-12" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title">Change Order Status</h4>
                    </div>
                    
                    <div class="modal-body">
                    <form action="/orders/update_order_status" method="get"  class="form-horizontal" role="form">
                    <input type="hidden" name="order_id" id="order_id">
                      <div class="form-group">
                        <label class="col-sm-4 col-sm-offset-2 control-label">New Order Status</label>
                        <div class="col-sm-6">
                          <select name="status" class="form-control">
                            <option value="Confirm">Confirm</option>
                            <option value="Processing">Processing</option>
                            <option value="In Transit">In Transit</option>
                            <option value="Delivered">Delivered</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                     </form>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      
                    </div>
                   
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div> <!-- Modal -->
          </div>
        </div>
      </div>
      <!-- End Blog Post -->
    </div>
  </div>
</div>
<script type="text/javascript">
  
function show_modal (id) {
    $('#order_id').val(id);
    $('#myModal').modal('show');  
  }
</script>