<div class="section">
	    	<div class="container">

	    		<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2>New Order</h2>
						<%= render partial: "layouts/flash_messages", flash: flash %>
					</div>
				</div>	
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<div class="basic-login">
							<%= form_for @order do |f| %>
					
								<%= f.hidden_field :cart_id, value: params[:cart_id].to_i%>
  								<%= f.hidden_field :stripe_card_token %>

  								<div class="form-group">
		        				 	<label for="login-username"><i class="icon-user"></i> <b>Total Amount</b></label>
									<input type="text" required="required"  name="order[amount]" id="order_amount" class="form-control" value="<%= @total_price %>" readonly>
								</div>

								<div class="form-group">
		        				 	<label for="login-username"><i class="icon-user"></i> <b>First Name</b></label>
									<%= f.text_field :name, autofocus: true, :class => "form-control", :placeholder => "First Name",:required => true %>
								</div>
								<div class="form-group">
		        				 	<label for="login-username"><i class="icon-user"></i> <b>Last Name</b></label>
									<%= f.text_field :last_name, :class => "form-control", :placeholder => "Last Name",:required => true %>
								</div>

								<div class="form-group">
		        				 	<label for="login-username"><i class="icon-user"></i> <b>Email</b></label>
									<%= f.text_field :email,  :class => "form-control", :placeholder => "Email",:required => true %>
								</div>
								<div class="form-group">
		        				 	<label for="login-username"><i class="icon-user"></i> <b>Card Type</b></label>
		        				 	<%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], :class => "form-control" %>
									
								</div>

								<div class="form-group">
		        				 	<label for="login-username"><i class="icon-user"></i> <b>Card Number</b></label>
									<%= f.text_field :card_number, :class => "form-control", :placeholder => "Card number",:required => true %>
								</div>

								<div class="form-group">
		        				 	<label for="login-username"><i class="icon-user"></i> <b>Card Verification Value (CVV)</b></label>
									<%= f.text_field :card_verification, :class => "form-control", :placeholder => "CVV",:required => true %>
								</div>

								<div class="form-group">
		        				 	<label for="login-username"><i class="icon-user"></i> <b>Card expires on</b></label>
									<%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+15), :add_month_numbers => true %>
								</div>
								
								<div class="form-group">
									<%= f.submit "Place your order", :class=>"btn btn-blue"%>
									
									<div class="clearfix"></div>
									<div id="stripe_error" style="color:red;">
  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
</div>
								</div>
							<% end %>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
