<div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- Action Buttons -->
						<div class="pull-right">
							<a href="#" class="btn btn-grey"><i class="glyphicon glyphicon-refresh"></i> UPDATE</a>
							<a href="#" class="btn"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> CHECK OUT</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- Shopping Cart Items -->
						<table class="shopping-cart">
							<!-- Shopping Cart Item -->
							<% total_price  = 0%>
							<% @products.each do |product|%>
							<%= quantity = product.base_carts.first.quantity %>
							<tr>
								<!-- Shopping Cart Item Image -->
								<td class="image"><a href="page-product-details.html">
								<%= image_tag product.image.url %></a></td>
								<!-- Shopping Cart Item Description & Features -->
								<td>
									<div class="cart-item-title"><a href="page-product-details.html">
									<%= product.name %></a></div>
									<div class="feature color">
										Color: <span class="color-white"></span>
									</div>
									<div class="feature">Size: <b><%= product.size%></b></div>
								</td>
								<!-- Shopping Cart Item Quantity -->
								<td class="quantity">
									<%= select_tag ('pro'+product.id.to_s), options_for_select(1..product.stock,quantity.to_i), :class=>"form-control input-sm input-micro", :onchange => "change_price(#{product.id},  #{product.price}, #{product.base_carts.first.id} )" %>
								</td>
								<!-- Shopping Cart Item Price -->
								<td class="price" id="pro_price<%= product.id %>">$<%= product.price * quantity %></td>
								<!-- Shopping Cart Item Actions -->
								<td class="actions">
									<a href="#" class="btn btn-xs btn-grey"><i class="glyphicon glyphicon-pencil"></i></a>
									<a href="#" class="btn btn-xs btn-grey"><i class="glyphicon glyphicon-trash"></i></a>
								</td>
							</tr>
							
							<%end%>
							<!-- End Shopping Cart Item -->
							
						</table>
						<!-- End Shopping Cart Items -->
					</div>
				</div>
				<div class="row">
					<!-- Promotion Code -->
					<div class="col-md-4  col-md-offset-0 col-sm-6 col-sm-offset-6">
						<div class="cart-promo-code">
							<h6><i class="glyphicon glyphicon-gift"></i> Have a promotion code?</h6>
							<div class="input-group">
								<input class="form-control input-sm" id="appendedInputButton" type="text" value="">
								<span class="input-group-btn">
									<button class="btn btn-sm btn-grey" type="button">Apply</button>
								</span>
							</div>
						</div>
					</div>
					<!-- Shipment Options -->
					<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-6">
						<div class="cart-shippment-options">
							<h6><i class="glyphicon glyphicon-plane"></i> Shippment options</h6>
							<div class="input-append">
								<select class="form-control input-sm">
									<option value="1">Standard - FREE</option>
									<option value="2">Next day delivery - $10.00</option>
								</select>
							</div>
						</div>
					</div>
					
					<!-- Shopping Cart Totals -->
					<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-6">
						<table class="cart-totals">
							<tr>
								<td><b>Shipping</b></td>
								<td>Free</td>
							</tr>
							<tr>
								<td><b>Discount</b></td>
								<td>- $18.00</td>
							</tr>
							<tr class="cart-grand-total">
								<td><b>Total</b></td>
								<td><b>$<%= total_price %></b></td>
							</tr>
						</table>
						<!-- Action Buttons -->
						<div class="pull-right">
							<a href="#" class="btn btn-grey"><i class="glyphicon glyphicon-refresh"></i> UPDATE</a>
							<a href="<%= new_order_path(cart_id: @products.first.base_carts.first) %>" class="btn"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> CHECK OUT</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">

		function change_price (p_id, p_price,base_cart_id) {
			var p_quantity = $("#pro"+p_id).val();
			$("#pro_price"+p_id).html('$' + (p_quantity * p_price));
			jQuery.get('/carts/update_base_cart_products_quantiy?id=' + localStorage.product_id);	
			$.ajax({
				    type: "GET",
				    url: '/carts/update_base_cart_products_quantiy/?cart_id=' + base_cart_id,
				    dataType: "JSON",
				    data: {"quantity":p_quantity}
				  });
		}
		
		</script>