<div class="section">
<% unless @base_carts.blank? %>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Action Buttons -->
				<!-- <div class="pull-right">
					<a href="#" class="btn btn-grey"><i class="glyphicon glyphicon-refresh"></i> UPDATE</a>
					<a href="#" class="btn"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> CHECK OUT</a>
				</div> -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!-- Shopping Cart Items -->
				<table class="shopping-cart">
					<!-- Shopping Cart Item -->
					<% total_price  = 0%>
					<% @ids = []%>
					<% @base_carts.each do |product|%>
					<% quantity = product.quantity %>
					<% total_price += quantity * product.price %>
					<% p_id =  product.id %>
					<%@ids.push(product.id) %>
					<tr>
						<!-- Shopping Cart Item Image -->
						<td class="image"><a href="#">
						<%= image_tag product.image.url %></a></td>
						<!-- Shopping Cart Item Description & Features -->
						<td>
							<div class="cart-item-title"><a href="#">
							<%= product.name %></a></div>
							
							<div class="feature">Size: <b><%= product.size%></b></div>
						</td>
						<!-- Shopping Cart Item Quantity -->
						<td class="quantity">
							<%= select_tag ('pro'+p_id.to_s), options_for_select(1..product.stock,quantity.to_i), :class=>"form-control input-sm input-micro", :onchange => "change_price(#{product.id},  #{product.price}, #{product.id} )" %>
						</td>
						<!-- Shopping Cart Item Price -->
						<td class="price" id="pro_price<%= product.id %>">$<%= product.price * quantity %></td>
						<!-- Shopping Cart Item Actions -->
						<td class="actions">
							&nbsp;&nbsp;
							<a href="/carts/delete?id=<%= product.id %>" class="btn btn-xs btn-grey"><i class="glyphicon glyphicon-trash"></i></a>
						</td>
					</tr>
					
					<%end%>
					<!-- End Shopping Cart Item -->
					
				</table>
				<!-- End Shopping Cart Items -->
			</div>
		</div>
		<div class="row">
			<!-- Promotion Code -->
			<div class="col-md-4  col-md-offset-0 col-sm-6 col-sm-offset-6">
				<div class="cart-promo-code">
					<!-- <h6><i class="glyphicon glyphicon-gift"></i> Have a promotion code?</h6> -->
					<div class="input-group">
						<!-- <input class="form-control input-sm" id="appendedInputButton" type="text" value="">
						<span class="input-group-btn">
							<button class="btn btn-sm btn-grey" type="button">Apply</button>
						</span> -->
					</div>
				</div>
			</div>
			<!-- Shipment Options -->
			<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-6">
				<div class="cart-shippment-options">
					<h6><i class="glyphicon glyphicon-plane"></i> Shippment options</h6>
					<div class="input-append">
						<select class="form-control input-sm">
							<option value="1">Standard - FREE</option>
							
						</select>
					</div>
				</div>
			</div>
			
			<!-- Shopping Cart Totals -->
			<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-6">
				<table class="cart-totals">
					 <tr>
						<td><b>Shipping</b></td>
						<td>Free</td>
					</tr>
					<tr>
						<td><b></b></td>
						<td></td>
					</tr> 
					<tr class="cart-grand-total">
						<td><b>Total</b></td>
						<td><b>$<%= total_price %></b></td>
					</tr>
				</table>
				<!-- Action Buttons -->
				<div class="pull-right">
					<a href="/" class="btn btn-green">&nbsp&nbsp; CONTINUE SHOPPING &nbsp;</a>

					<a href="<%= check_login_orders_path(:id => @ids) %>" class="btn btn-blue">&nbsp;<i class="glyphicon glyphicon-shopping-cart icon-white"></i> &nbsp; CHECK OUT &nbsp;</a>
				</div>
			</div>
		</div>
	</div>
<%else%>
	<div class="container">
		<div class="row">
		<br>
			<div class="col-sm-6 col-sm-offset-3">
				<h2>No data available in this cart. </h2>
			</div>
		</div>
	</div>			
<%end%>
</div>

		<script type="text/javascript">

		function change_price (p_id, p_price,base_cart_id) {
			var p_quantity = $("#pro"+p_id).val();
			$("#pro_price"+p_id).html('$' + (p_quantity * p_price));
			// jQuery.get('/carts/update_base_cart_products_quantiy?id=' + localStorage.product_id);	
			$.ajax({
				    type: "GET",
				    url: '/carts/update_base_cart_products_quantiy/?cart_id=' + base_cart_id,
				    dataType: "JSON",
				    data: {"quantity":p_quantity}
				  });
		}
		
		</script>