<%= form_for(@sub_category) do |f| %>
  <% if @sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_category.errors.count, "error") %> prohibited this sub_category from being saved:</h2>

      <ul>
      <% @sub_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-4 control-label">Sub Category</label>
      <div class="col-sm-8">
        <%= f.text_field :sub_category_name,:required => true, :class => "form-control", :placeholder=>"Sub Category" %>
      </div>
    </div>
    </div>
  </div>  
  <br/>
  <div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-4 control-label">Menu Category</label>
      <div class="col-sm-8">
        <%= f.select(:category_id,  @categories.collect{|p| [ p.category_name, p.id ]},  {}, {required: 'true', class: 'form-control'}) %>
      </div>
    </div>
    </div>
  </div>

  <br/>    
  <div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-4 control-label"></label>
      <div class="col-sm-8 actions">
        <%= f.submit "Create Menu", :class=>"btn btn-success" %>
      </div>
    </div>
    </div>
  </div>

<% end %>
