<p id="notice"><%= notice %></p>

<p>
  <strong>Sub category name:</strong>
  <%= @sub_category.sub_category_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sub_category.category_id %>
</p>

<%= link_to 'Edit', edit_sub_category_path(@sub_category) %> |
<%= link_to 'Back', sub_categories_path %>
