<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-4 control-label">Category</label>
      <div class="col-sm-8">
        <%= f.text_field :category_name,:required => true, :class => "form-control", :placeholder=>"Category" %>
      </div>
    </div>
    </div>
  </div>  
  <br/>
  <div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-4 control-label">Menu Category</label>
      <div class="col-sm-8">
        <%= f.select(:menu_category_id, @menu_categories.collect {|p| [ p.menu_text, p.id ] },  {}, {required: 'true', class: 'form-control'}) %>
      </div>
    </div>
    </div>
  </div>

  <br/>    
  <div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-4 control-label"></label>
      <div class="col-sm-8 actions">
        <%= f.submit "Create Menu", :class=>"btn btn-success" %>
      </div>
    </div>
    </div>
  </div>

<% end %>
