<div class="section">
  <div class="container">
            

    <div class="row">
    <div class="col-sm-2 blog-sidebar">
        <br/>
        <h4>User Profile</h4>
        <ul class="recent-posts">
          <li><span class="glyphicon glyphicon-user"></span> <a href="/user_details">My Profile</a></li>
          <li><span class="glyphicon glyphicon-inbox"></span> <a href="/order_detail/index">My Orders</a> </li>
          <li><span class="glyphicon glyphicon-log-out"> </span> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
        </ul>
      </div>
    <div class="col-sm-10">
      <%= render partial: "layouts/flash_messages", flash: flash %>
      <% if @user_detail.blank? %>
      <div class="blog-post blog-single-post">
        <div class="single-post-title">
          <h3>My Profile</h3>
        </div>
        <div class="single-post-info">
          <i class="glyphicon"></i>
        </div>
        <form method="get" action="update">
        <div class="single-post-content">
          <div class="bs-example">
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-offset-2  control-label"><b>First Name</b></label>
                      <div class="col-sm-6">
                        <input type="text" class ="form-control" name="first_name">
                      </div>
                    </div>
                  </div>                
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-offset-2  control-label"><b>Last Name</b></label>
                      <div class="col-sm-6">
                        <input type="text" class ="form-control" name="last_name">
                      </div>
                    </div>
                  </div>                
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-offset-2  control-label"><b>Email</b></label>
                      <div class="col-sm-6">
                        <input type="text" class ="form-control" disabled value="<%= current_user.email%>" name="email">
                      </div>
                    </div>
                  </div>                
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-offset-2  control-label"><b>Gender</b></label>
                      <div class="col-sm-6">
                        <%= select_tag 'gender', options_for_select(["Male", "Female"], ""), :class => "form-control"  %>
                      </div>
                    </div>
                  </div>                
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-offset-2  control-label"><b>Phone Number</b></label>
                      <div class="col-sm-6">
                        <input type="text" class ="form-control" name="phone_number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>                
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-offset-2  control-label"><b></b></label>
                      <div class="col-sm-6">
                        <button type="submit" class="btn btn-green">Update Detail</button>
                        </form>
                        <a href="/user_details" class="btn btn-link"> Cancel</a>
                      </div>
                    </div>
                  </div>                
              </div>
            
          </div>
        </div>
      </div>
      <%else%>
      <div class="blog-post blog-single-post">
        <div class="single-post-title">
          <h3>My Profile</h3>
        </div>
        <div class="single-post-info">
          <i class="glyphicon"></i>
        </div>
        <form method="get" action="update">
        <div class="single-post-content">
          <div class="bs-example">
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-offset-2  control-label"><b>First Name</b></label>
                      <div class="col-sm-6">
                        <input type="text" class ="form-control" name="first_name" value="<%= @user_detail.first_name %>">
                      </div>
                    </div>
                  </div>                
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-offset-2  control-label"><b>Last Name</b></label>
                      <div class="col-sm-6">
                        <input type="text" class ="form-control" name="last_name" value="<%= @user_detail.last_name %>">
                      </div>
                    </div>
                  </div>                
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-offset-2  control-label"><b>Email</b></label>
                      <div class="col-sm-6">
                        <input type="text" class ="form-control" disabled value="<%= current_user.email%>" name="email">
                      </div>
                    </div>
                  </div>                
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-offset-2  control-label"><b>Gender</b></label>
                      <div class="col-sm-6">
                      <%= select_tag 'gender', options_for_select(["Male", "Female"], @user_detail.gender), :class => "form-control"  %>
                        
                      </div>
                    </div>
                  </div>                
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-offset-2  control-label"><b>Phone Number</b></label>
                      <div class="col-sm-6">
                        <input type="text" class ="form-control" name="phone_number" value="<%= @user_detail.phone_number%>" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>                
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-offset-2  control-label"><b></b></label>
                      <div class="col-sm-6">
                        <button type="submit" class="btn btn-green">Update Detail</button>
                        </form>
                        <a href="/user_details" class="btn btn-link"> Cancel</a>
                      </div>
                    </div>
                  </div>                
              </div>
            
          </div>
        </div>
      </div>
      <%end%>
    </div>    
    </div>
  </div>
</div>
