<!DOCTYPE html>
<html>
<head>
  <title>StoreApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body> 

<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
	<!-- Navigation & Logo-->
	<div class="mainmenu-wrapper">
	    
	        <%= render :partial => "/layouts/nav_menu" %>
	   	</div>

	<%= yield %>

	<!-- Footer -->
	<div class="footer">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
	    			<div class="footer-copyright">&copy; 2014 RockyD. All rights reserved.</div>
	    		</div>
	    	</div>
	    </div>
	</div>

<!-- Javascripts -->
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
