<!DOCTYPE html>
<html>
<head>
  <title>StoreApp</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body> 

<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
	<!-- Navigation & Logo-->
	<div class="mainmenu-wrapper">
	   <%= render :partial => "/layouts/new_top_bar" %>
	</div>
	<div class="container">
	   <div class="col-sm-offset-2 col-md-8 col-sm-8">

	   <% if params[:controller].eql?("products") or params[:controller].eql?("home")%>
		
	   <% end %>
        </div>
        </div>
	<%= yield %>

	<!-- Footer -->
	<br><br>
	<div class="footer">
		<div class="container">
			<div class="footer-copyright">&copy; 2014 RockyD. All rights reserved.</div>
		</div>
	</div>
	<div style="clear: both;"></div>
    </div>
</div>

</body>
</html>
<style type="text/css">
 
</style>
<script type="text/javascript">
autocomplete_data(<%=raw @pro %>);

</script>